/* Header responsive */
@media screen and (max-width: 840px) {
    .header_content h1 {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 500px) {
    
    .header_content {
        width: 100% !important;
    }
}
/* Header responsive end */

/* Hero image */
@media screen and (max-width: 768px) {
    .hero_image img {
        height: auto !important;
    }
}
/* Hero image end */



/* ingredients */
@media screen and (max-width: 840px) {
    .servings_part {
        display: none;
    }
    .servings_part_mobile {
        display: flex !important;
        box-shadow: none !important;
        position: unset !important;
        flex-wrap: wrap;
    }
    .ingredients_part {
        flex-direction: column;
        align-items: center;
        padding-top: 1rem !important;
    }
    .ingreTime_content {
        width: 100% !important;
    }
    

}
/* ingredients end */