@import url(responsive.css);
/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

/* Header */
header#header {
    margin-bottom: 2.5rem;
}
.container {
    width: 980px;
    margin: auto;
    max-width: 100%;
    padding: 0 1rem;
}

.hader_desc p {
    font-size: .8rem;
    text-decoration: inherit;
    font-style: italic;
    font-weight: 500;
    color: #4F4F4F;
    margin-top: 1rem;
}

.header_content {
    width:50%;
}
.hader_desc {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
}

/* Header end */


/* Hero image */
.hero_image img {
    width: 100%;
    height: 65vh;
    object-fit: cover;
    border-radius: .5rem;
}
/* Hero image end */


/* Ingredients and Time */
.ingreTime_content p {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    margin: 1rem 0;
}

.ingreTime_content {
    width: 550px;
}

.ingredients_part {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}
.ingreTime_content input,label {
    margin: 1rem 0;
}

.ingreTime_content input {
    margin-right: .5rem;
    height: 25px;
    width: 18px;
}
.serving {
    display: flex;
    align-items: center;
    margin: 2rem 1rem;
    gap: 1rem;
}

.servings_part {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #fff;
    height: max-content;
    border-radius: .6rem;
    padding: 1rem;
    position: sticky;
    top: 4rem;
}

.serving_icon span {
    font-size: 2rem;
}
.orange-color {
    color: #F2994A;
}
/* Ingredients and Time end */